<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237671022821-5fbdt4nrm5h9epv94i68i35babug8n1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237671022821-5fbdt4nrm5h9epv94i68i35babug8n1k</string>
	<key>API_KEY</key>
	<string>AIzaSyCR0hX0L5SjP_ZQrQrY38LM4aHo1VDrDEg</string>
	<key>GCM_SENDER_ID</key>
	<string>237671022821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LittleFriendApp</string>
	<key>PROJECT_ID</key>
	<string>little-friend-app</string>
	<key>STORAGE_BUCKET</key>
	<string>little-friend-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237671022821:ios:a22d324bb384fecc88d40c</string>
</dict>
</plist>